{% extends 'news/base.html' %}
{% load static %}

{% block title %} Login sahifasi {% endblock title %}

{% block content %}

    <h2>Web saytga kirish - login | <a style="color: green" href="{% url 'user_register' %}">Ro'yhatdan o'tish</a></h2>
    <p>Iltimos web-saytga kirish uchun quidagi formani to'ldiring!</p>
    <h5>Agar parolingizni unutgan bo'lsangiz, uni <a href="{% url 'password_reset' %}" style="color: green">tiklang</a> </h5>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
    <button type="submit">Login</button>
    </form>
{% endblock content %}