{% extends 'news/base.html' %}
{% load static %}

{% block title %} Foydalanuvchi paroli o'zgardi {% endblock title %}

{% block content %}

    <h1>Parolni tiklash</h1>
    <p>Parolingizni tiklash uchun e-mail manzilingizni kiriting</p>
    {% if validlink %}

        <p>Iltimos yangi parolni ikki marotaba kiriting</p>
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
        <p><button type="submit">Parolni almashtirish</button> </p>
        </form>

    {% else %}

        <p>Siz no'togri linkdan foydalandingiz, u avvalroq foydalangan bo'lishi mumkin</p>

    {% endif %}

{% endblock content %}